<div class="sidebar admin-sidebar">
  <!-- Background element -->
  <div class="admin-sidebar__background"></div>
  <!-- Navigation menu -->
  <nav class="admin-sidebar__menu">
    <ul class="admin-sidebar__list">
      <li class="admin-sidebar__item">
        <a href="/admin/products" class="admin-sidebar__link">Manage products</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/users" class="admin-sidebar__link">Manage users</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/auctions" class="admin-sidebar__link">Manage auctions</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/sellers" class="admin-sidebar__link">Manage sellers</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/buyers" class="admin-sidebar__link">Manage buyers</a>
      </li>
    </ul>
  </nav>
</div>