<%
    const content = `
        <div class="container">
            <h1>Welcome to Our Application</h1>
            <p>This is the home page of our application.</p>
        </div>
    `;
%>
<%- include('layout', { title: 'Home', content }) %> 