<div class="sidebar admin-sidebar">
  <!-- Background element -->
  <div class="admin-sidebar__background"></div>
  <!-- Navigation menu -->
  <nav class="admin-sidebar__menu">
    <ul class="admin-sidebar__list">
      <li class="admin-sidebar__item">
        <a href="/admin/product-manage" class="admin-sidebar__link">Product Manage</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/user-manage" class="admin-sidebar__link">User Manage</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/sell-report" class="admin-sidebar__link">Sell Report</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/buyers-report" class="admin-sidebar__link">Buyers Report</a>
      </li>
      <li class="admin-sidebar__item">
        <a href="/admin/customer-manage" class="admin-sidebar__link">Customer Manage</a>
      </li>
    </ul>
  </nav>
</div>